* {
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: 18px;
  font-weight: bold;
}

body {
  margin: 0 auto; 
  padding: 0;
}

.container {
  display: flex; 
  flex-flow: row wrap;

  background-color: #fff;
}

.sections {
  margin: 20px;
  width: 47%;
}

.element-title{
  margin-right: 30px;
}

.fields {
  width: 100%;
  margin: 5px 0;
  padding: 8px 10px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.combobox-ingredients{
  width: 100%;
  margin: 5px 0;
  padding: 8px 10px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.type-of-ingredients, .user_informations{
  margin: 10px 0;
  padding: 8px 0;
}

.ingredients{
  display: inline-block;
}

.actions-button{
  width: 40%;
	margin: 8px 1px;
  padding: 10px 0;
  border: 2px solid #D50000;
  border-radius: 8px;
  background-color: #D50000;
  color: #FF0;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.banner{
  height: 90px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #D50000;
  text-align: center;
  font-style: italic;
  color: #FFFF00;
  font-family: 'Lobster', cursive;
}

@media all and (min-width: 600px) {
    .section { 
      flex: 1 auto;
      flex-direction: column;
     }
}

@media all and (min-width: 800px) {
    .section1,.section2 {
      flex-direction: row;
    }
}

.snack-table{
  border-collapse: collapse;
  width: 100%;
  clear: right;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.snack-table td{
  border: 1px solid #000000;
}
.table-head {
    text-align: left;
    padding: 8px;
    background: #D50000;
    border: 1px solid #00000
}

.logo{
  float: right;
}